@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .myCard {
    @apply mt-4 p-4 mb-2 border rounded;
  }
  input {
    @apply border rounded;
  }
  /* button {
    @apply border rounded py-1 px-2 hover:bg-blue-200 active:bg-teal-200;
  } */
}
